<br></br>
<h2>List of All Competing Nations</h2>
<br></br>
<% @nations.each do |nation| %>
  <a href="/nations/<%= nation.id  %>"><%= nation.name %></a><br></br>
<% end %>
<br>
<a href="/nations/new">Add new nation</a><br>
<br>
<br>
<a href="/">Back</a>

