<div class="space"></div>
<div class="one">
<table class="table" style="width:5%">
  <tr>
    <th>Rank</th>
    <th>Nation</th>
    <th>Gold Medals</th> 
    <th>Silver Medals</th>
    <th>Bronze Medals</th>
    <th>Total Points</th>
  </tr>
  <tr>
    <td>1</td>
    <td>UK</td>
    <td>10</td> 
    <td>12</td>
    <td>8</td>
    <td>94</td>
  </tr>
  <tr>
    <td>2</td>
    <td>France</td>
    <td>8</td> 
    <td>11</td>
    <td>8</td>
    <td>73</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Spain</td>
    <td>8</td> 
    <td>9</td>
    <td>6</td>
    <td>65</td>
  </tr>
  <tr>
    <td>4</td>
    <td>USA</td>
    <td>6</td> 
    <td>9</td>
    <td>4</td>
    <td>61</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Germany</td>
    <td>4</td> 
    <td>7</td>
    <td>2</td>
    <td>43</td>
  </tr>

</table>
<div>
