<!DOCTYPE html>
<html>
<head>
  <title>Rio Olympics</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>  
  <h1>Rio Olympics 2016</h1>
  <nav>
    <ul>
      <li><a href="/athletes">Athletes</a> </li>
      <li><a href="/events">Events</a> </li>
      <li><a href="/nations">Nations</a> </li>
    </ul>
  </nav>
  <main>
  <%= yield %>
  </main> 
</body>
</html>