html, body {
  margin:0px; padding:0px;
}

body {
        background-image: url("http://wallpaperwide.info/web/wallpapers/rio-2016-wallpaper-1920x1080/1600x900.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100% 103%;
}



ul {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E53A40;
}

li {
    float: left;
    font-size: 30px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #c03546;
}

h2 { 
    z-index: 1;
    position: fixed;
    padding-top: 140px;
    padding-left: 20px;
    color: white; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 125px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
}

h3 { 
    position: block;
    padding-top: 180px;
    padding-left: 20px;
    color: white; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 75px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
}

.h3_fixed { 
    z-index: 1;
    position: fixed;
    padding-top: 190px;
    padding-left: 20px;
    color: white; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 75px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
}


section {
  margin: 20px;
  padding: 20px;
  top: 700px;
  display: block;
  position: relative;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 400px;
  color: black; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 40px; 
  font-weight: bold; 
  z-index:200;
}

.new {
  margin: 20px;
  padding: 20px;
  top: -50px;
  display: inline-block;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 920px;
  color: black; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 20px; 
  font-weight: bold; 
}

.add_athlete {
  margin: 20px;
  padding: 20px;
  top: -10px;
  display: inline-block;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 920px;
  color: black; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 15px; 
  font-weight: bold; 
}

.add_event {
  margin: 20px;
  padding: 20px;
  top: -40px;
  display: inline-block;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 920px;
  color: black; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 15px; 
  font-weight: bold; 
}

.show_details {
    margin: 20px;
    padding: 20px;
    top: 800px;
    display: inline-block;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 920px;
    color: black; 
    font-weight: normal;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 15px; 
}


.checklist {
  font-size: 12px;
}

a {
  color: black
}

a:hover {
    color: red;
}

.add_nation {
  display: block;
  position: relative;
  background-color: white;
  width: 400px;
  color: blue; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 15px; 
  font-weight: bold; 
  z-index:200;
}

.add_nation2 {
  display: block;
  position: relative;
  background-color: white;
  width: 400px;
  color: blue; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 15px; 
  font-weight: bold; 
  z-index:200;
}

.participant {
  color: black; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 15px; 
  font-weight: bold; 
}