<br></br>
<h2>Edit Event</h2>
<br></br>

<form action="/events/<%= @event.id %>" method="post">
  
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @event.name() %>" >

  <label for="athlete_id">Participating Athletes:</label>
      <select name="athlete_id">
          <% @athletes.each do |athlete| %>
            <option value="<%= athlete.id %>"><%= athlete.name %>
            </option>  
          <%  end %>
    </select>


  <input type='submit' value="Update">
</form>